<%- include("partials/header") %>

 

  
  <div class="wrapper">
    <h1>Sentiment Analysis</h1>
    <p></p>
    <ul class="plates">
      <li>Your Social Comments Analysis...</li>
    </ul>
    <form class="add-items">
      <input type="text" name="Name" placeholder="Your Name" required>
      <input type="submit" value="submit">
    </form>
    <section>
     <%- include("partials/footer") %>
    </section>
   
  </div>
  
