<%- include("partials/header") %>

 

  
  <div class="wrapper">
    <h1>Sentiment Analysis</h1>
    <p></p>
    <ul class="plates">
      <li>Your Social Comments Analysis...</li>
    </ul>
    <form class="add-items">
      <div class="form1">
      <input type="text" name="Name" placeholder="Your Name" required>
      
      <input type="text" name="keyWords1" placeholder="Input 2 " required>
      <input type="text" name="keyWords1" placeholder="Input 3 " required>
      </div>

      <input class="button1" type="submit" value="Save">
      <input class="button popularTweets" type="submit" value="Popular Tweets">
      <input class="button historicalTweets" type="submit" value="Historical Tweets">
      
    </form>

    <section>
     <%- include("partials/footer") %>
    </section>

    <script>
      const popularTweets = document.querySelector(".popularTweets");
      const historicalTweets = document.querySelector(".historicalTweets");

     popularTweets.addEventListener("click", (e) => {
             console.log(e.target.value);
     })

      historicalTweets.addEventListener("click", (e) => {
             console.log(e.target.value);
     })
    </script>
   
  </div>
  
