<%- include("partials/header") %>

 

  
  <div class="wrapper">
    <h1>Sentiment Analysis</h1>
    <p></p>
    <ul class="plates">
      <li>Your Social Comments Analysis...</li>
    </ul>
    <form class="add-items">
      <div class="form1">
      <input type="text" name="realTimeData" placeholder="keyword for Real Time Data"  required>
      </div>

      <div class="form1">
      <input type="text" name="historicalData" placeholder="Keyword for historical Data " required>
      
      
       
       <input type="date" name="historicalData" placeholder="Date for historical Data" value="<%= currentDay%>" required>
       <h4>Note: Please Fill the Previous Date</h4>
      </div>

      <div class="form1">
      <input type="text" name="popularTweet" placeholder="Keyword for Popular Data " required>
       <input type="number" name="popularTweet" placeholder="Number for Popular Data " required>
      </div>

      <div class="button">
      <input  type="submit" value="Save">
      <input class=" popularTweets" type="submit" value="Popular Tweets">
      <input class=" historicalTweets" type="submit" value="Historical Tweets">
      </div>
    </form>
 
    <section>
     <%- include("partials/footer") %>
    </section>
    </div>

<script>
 


const popularTweets = document.querySelector(".popularTweets");
      const historicalTweets = document.querySelector(".historicalTweets");

     popularTweets.addEventListener("click", (e) => {
             console.log(e.target.value);
     })

      historicalTweets.addEventListener("click", (e) => {
             console.log(e.target.value);
     })
</script>
   
  
  
